layout {
    background-color "transparent"

    focus-ring {
        active-color   "#f6adfe"
        inactive-color "#ad8888"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#f6adfe"
        inactive-color "#ad8888"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#f6adfe"
        inactive-color "#ad8888"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#f6adfe80"
    }
}